.hero {
  background-color: #7029cb;
  position: relative;
  margin-bottom: 40px;
}

.hero-slider {
  overflow-x: hidden;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  transition-duration: 0.3s;
}

.slider-item {
  gap: 32px;
  padding: 51.75px 409.78px 66.25px 26.34%;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 100%;
  align-items: center;
  justify-items: center;
}

.hero-title {
  font-size: clamp(1.5rem, 0.8809rem + 2.6415vw, 2.8125rem);
  font-weight: 700;
  line-height: 45px;
  margin: 0;
}

.slider-control {
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  padding: 0;
}

.slider-control--right {
  inset-inline-end: clamp(0.625rem, -0.5784rem + 5.1346vw, 3.1763rem);
  inset-block: 0;
}

.slider-control--left {
  inset-inline-start: clamp(0.625rem, -0.5764rem + 5.1258vw, 3.1719rem);
  inset-block: 0;
}

@media (width < 890px) {
  .slider-item {
    grid-template-columns: auto;
    padding-inline: 0;
  }
}
