section.hero.container
  div.hero-slider 
    ul.slider-list 
      li.slider-item
        h1.hero-title H1&nbsp;&nbsp;text
        button(popovertarget="popover", type="button").utp-button Open pop-up button
      li.slider-item
        h1.hero-title H1&nbsp;&nbsp;text
        button(popovertarget="popover", type="button").utp-button Open pop-up button
    button(type="button").slider-control.slider-control--left
      svg(width="40" height="77" viewBox="0 0 40 77" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M39.0264 75.5961L1.7475 38.3171L39.0264 1.03821" stroke="white" stroke-width="2")
    button(type="button").slider-control.slider-control--right
      svg(width="40" height="77" viewBox="0 0 40 77" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M0.898804 1.03821L38.1777 38.3172L0.898804 75.5961" stroke="white" stroke-width="2")

