.block-third {
  margin-block-end: 40px;
  display: grid;
  gap: 40px;
}

.block-third-list {
  width: 100%;
  padding: 25px;
  max-width: 1120px;
  margin: 0 auto;
  background-color: #d4ff5a;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  border-radius: clamp(0.625rem, 0.0354rem + 2.5157vw, 1.875rem);
}

.block-third-item {
  border: 2px solid #00ff4a;
  border-radius: clamp(0.625rem, -0.112rem + 3.1447vw, 2.1875rem);
  background-color: #497957;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  transition-duration: 0.3s;
  cursor: pointer;
}

.block-third-item:hover {
  box-shadow: 2px 5px 10px 0 #497957;
}
