section.block-third#block-third
  h2.section-title H2 text
  div.block-third-list
    div.block-third-item
    div.block-third-item
    div.block-third-item
    div.block-third-item
    div.block-third-item
