.block-third {
  margin-block-end: 40px;
  display: grid;
  gap: 40px;
}

.block-third-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  margin-block: 0;
  margin-left: 542px;
}


.block-third-list {
  width: 100%;
  padding: 25px;
  max-width: 1120px;
  margin: 0 auto;
  background-color: #D4FF5A;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  border-radius: 30px;
}

.block-third-item {
  border: 2px solid #00FF4A;
  border-radius: 35px;
  background-color: #497957;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  transition-duration: 0.3s;
  cursor: pointer;
}

.block-third-item:hover {
  box-shadow:  2px 5px 10px 0 #497957;
}