extends ../layouts/default.pug

block variables
  - var pageStylesheet = "index.css";
  - var pageScripts = "/scripts/main.js";


block content
  include ../components/header/header
  main
    include ../components/hero/hero
    include ../components/block-second/block-second
    include ../components/block-third/block-third
    include ../components/utp/utp
  include ../components/footer/footer
  include ../components/popover/popover