.block-second {
  display: grid;
  gap: 40px;
  margin-block-end: 40px;
}

.block-second-list {
  display: grid;
  background-color: #beb9ff;
  padding-block-end: 5px;
  gap: 13px;
  grid-template-columns: 33.5% auto 13.84%;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
}

.block-second-title {
  font-size: clamp(1.375rem, 1.1392rem + 1.0063vw, 1.875rem);
  font-weight: 600;
  line-height: 45px;
  margin: 0;
  margin-left: 46.32%;
}

.block-second-item {
  counter-increment: cnt;
  background-color: #3ade4b;
  font-size: 53px;
  justify-content: center;
  display: flex;
  height: 198px;
  align-items: center;
}

.block-second-item::before {
  content: counter(cnt);
  display: block;
}

.block-second-item:nth-of-type(1) {
  width: min(392px, 100%);
  grid-column: 1 / 2;
}

.block-second-item:nth-of-type(2) {
  width: min(765px, 100%);
  grid-column: 2 / 4;
}

.block-second-item:nth-of-type(3) {
  width: min(995px, 254%);
  grid-column: 1 / 2;
}

.block-second-item:nth-of-type(4) {
  width: min(163px, 100%);
  grid-column: 3 / 4;
}

@media (width < 768px) {
  .block-second-title {
    margin: 0 auto;
  }
}
