.block-second {
  display: grid;
  gap: 40px;
  margin-block-end: 40px;
}

.block-second-list {
  display: grid;
  background-color: #BEB9FF;
  padding-block-end: 5px;
  gap: 13px;
  grid-template-columns: 33.5% auto 13.84%;
  /* Два ряда */
  grid-template-rows: auto auto;
  /* Автоматическое размещение в ряд */
  grid-auto-flow: row;
}

.block-second-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  margin: 0;
  margin-left: 542px;
  justify-content: space-between;
}
.block-second-item {
  counter-increment: cnt;
  background-color: #3ADE4B;
  font-size: 53px;
  justify-content: center;
  display: flex;
  height: 198px;
  align-items: center;
}

.block-second-item::before {
  content: counter(cnt);
  display: block;
}

.block-second-item:nth-of-type(1) {
  width: max(392px, 33.5%);
  grid-column: 1 / 2;
}
.block-second-item:nth-of-type(2) {
  width: max(765px, 65.3%);
  grid-column: 2 / 4;
}
.block-second-item:nth-of-type(3) {
  width: max(995px, 85%);
  grid-column: 1 / 2;
}
.block-second-item:nth-of-type(4) {
  width: max(163px, 13.84%);
  grid-column: 3 / 4;
}