.header {
  padding: 55px 55px 48px clamp(3.4375rem, 0.4894rem + 12.5786vw, 9.6875rem);
  background-color: #b47ff6;
  margin-bottom: 40px;
  position: relative;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.burger {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.burger svg {
  transition-duration: 0.3s;
}

.burger:hover svg {
  stroke: #ff4b4b;
}

.burger svg line {
  transition-property: opacity, transform, transform-origin;
  transition-delay: 0.01s, 0.1s, 0.1s;
  transition-duration: 0.3s;
}

.site-nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: clamp(1.25rem, 0.0708rem + 5.0314vw, 3.75rem);
}

.nav-link {
  text-decoration: underline;
  text-decoration-color: transparent;
  color: inherit;
  transition-duration: 0.3s;
  font-weight: 500;
  font-size: var(--menu-font-size);
  line-height: 45px;
}

.nav-link:hover {
  text-decoration-color: #fff;
  font-weight: 700;
}

.user-nav {
  position: absolute;
  z-index: 1;
  inset-inline-start: 0;
  inset-block-start: 0;
  padding-block: 33px 57px;
  padding-inline: 64.5px;
  display: grid;
  align-content: center;
  background-color: var(--bg-color);
  border: 1px solid #00ff4a;
  justify-items: center;
  transform: translateX(-100%);
  transition-duration: 0.3s;
  width: min(451px, 100%);
}

.user-nav--open {
  transform: translateX(0);
}

.burger--open svg line {
  transition-duration: 0.3s;
}

.burger--open svg line:nth-last-of-type(1) {
  transform: rotate(-29deg);
  transform-origin: -6% 76%;
}

.burger--open svg line:nth-last-of-type(2) {
  opacity: 0;
}

.burger--open svg line:nth-last-of-type(3) {
  transform: rotate(30deg);
  transform-origin: 0% 33%;
}

.user-nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  row-gap: 39px;
  margin-bottom: 55px;
  width: 100%;
  z-index: 2;
}
