header.header
  nav.header-nav 
    ul.site-nav-list 
      li.site-nav-item 
        a(href="#block-second").nav-link Text 
      li.nav-item 
        a(href="#block-third").nav-link Text 
      li.nav-item 
        a(href="#utp").nav-link Text 
    div.user-nav 
      ul.user-nav-list
        li.user-nav-item 
          a(href="#").nav-link Text 
        li.user-nav-item 
          a(href="#").nav-link Text 
        li.user-nav-item 
          a(href="#").nav-link Text 
        li.user-nav-item 
          a(href="#").nav-link Text
      button(popovertarget="popover", type="button").utp-button Open pop-up button
    button(type='button').burger
      svg(width="44" height="27" viewBox="0 0 44 27" fill="none" stroke="white" xmlns="http://www.w3.org/2000/svg")
        line(y1="1.5" x2="43.3738" y2="1.5" stroke-width="3")
        line(y1="13.5" x2="43.3738" y2="13.5" stroke-width="3")
        line(y1="25.5" x2="43.3738" y2="25.5" stroke-width="3")
