:root {
  --text-color: #fff;
  --shadow-color: #497957;
  --accent-color: #ff4b4b;
  --bg-color: #a6c9ff;
  --main-font: "Roboto", helvetica, arial, sans-serif;
  --menu-font-size: clamp(1.125rem, 0.8302rem + 1.2579vw, 1.75rem);
  --second-heading-size: clamp(1.375rem, 1.1392rem + 1.0063vw, 1.875rem);
}
