.footer {
  background-color: #D87FF6;
}

.footer-list {
  padding: 27.5px 220.5px 27.5px 204.5px;
  display: flex;
  gap: 175px;
  list-style: none;
  margin: 0;
}

.footer-item {
  font-size: 28px;
  font-weight: 500;
  line-height: 45px;
}