.footer {
  background-color: #d87ff6;
}

.footer-list {
  padding: 27.5px 220.5px 27.5px 204.5px;
  display: grid;
  justify-content: space-between;
  list-style: none;
  grid-template-columns: repeat(4, auto);
  margin: 0;
}

@media (width < 768px) {
  .footer-list {
    grid-template-columns: repeat(2, auto);
    padding: 27.5px 120.5px 27.5px 104.5px;
    justify-content: center;
    gap: 50px;
  }
}
