footer.footer
  ul.footer-list
    li.footer-item
      a(href="#").nav-link Text
    li.footer-item
      a(href="#").nav-link Text
    li.footer-item
      a(href="#").nav-link Text
    li.footer-item
      a(href="#").nav-link Text